<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="IKVM.OpenJDK.Core" version="7.2.4630.5" targetFramework="net472" />
  <package id="IKVM.OpenJDK.Text" version="7.2.4630.5" targetFramework="net472" />
  <package id="IKVM.Runtime" version="7.2.4630.5" targetFramework="net472" />
  <package id="IKVM-WithExes" version="7.3.4830.1" targetFramework="net472" />
  <package id="Microsoft.PowerBI.Api" version="4.13.0" targetFramework="net472" />
  <package id="Microsoft.Rest.ClientRuntime" version="2.3.21" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
  <package id="System.Security.Cryptography.Cng" version="4.7.0" targetFramework="net472" />
</packages>